.account-settings-child {
  position: absolute;
  top: 300px;
  left: 381px;
  border-radius: var(--br-xl);
  width: 1250px;
  height: 93px;
}
.account-settings-inner,
.account-settings-item {
  position: absolute;
  top: 273px;
  left: 62px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 266px;
}
.account-settings-item {
  height: 767px;
}
.account-settings-inner {
  height: 285px;
}
.icbaseline-message15 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-child59 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-100);
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 44px;
}
.frame-child60,
.frame-child61 {
  position: absolute;
  top: 0;
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
  height: 44px;
}
.frame-child61 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent13,
.mauve15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.mauve15 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.frame-parent1 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.account-settings-child1,
.account-settings-child2 {
  position: absolute;
  top: 273px;
  left: 361px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 1301px;
  height: 767px;
}
.account-settings-child2 {
  top: 415px;
  left: 381px;
  width: 1250px;
  height: 92px;
}
.password1 {
  position: absolute;
  top: 440px;
  left: 205px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 582px;
  height: 55px;
}
.group-icon31 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
}
.username {
  position: absolute;
  top: 319px;
  left: 211px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 582px;
  height: 55px;
}
.account-settings-child3,
.account-settings-child4 {
  position: absolute;
  top: 324px;
  left: 615px;
  border-radius: var(--br-3xs);
  width: 814px;
  height: 45px;
}
.account-settings-child4 {
  top: 439px;
  height: 42px;
}
.account-settings-child5 {
  position: absolute;
  top: 574.5px;
  left: 81.5px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 229px;
  height: 46px;
}
.account-settings-child6 {
  top: 643px;
}
.account-settings-child6,
.account-settings-child7,
.account-settings-child8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  position: absolute;
  left: 83px;
  border-radius: var(--br-xl);
  width: 226px;
  height: 43px;
}
.account-settings-child7 {
  top: 711px;
}
.account-settings-child8 {
  top: 778px;
}
.account-settings-child9 {
  border: 0;
  padding: 0;
  top: 846px;
}
.account-settings-child10,
.account-settings-child11,
.account-settings-child9 {
  position: absolute;
  left: 83px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 226px;
  height: 43px;
  cursor: pointer;
}
.account-settings-child10 {
  border: 0;
  padding: 0;
  top: 913px;
}
.account-settings-child11 {
  text-decoration: none;
  top: 981px;
}
.chats6,
.friends6 {
  position: absolute;
  display: inline-block;
  width: 142px;
}
.friends6 {
  top: 652px;
  left: 123px;
  height: 27px;
}
.chats6 {
  top: 718px;
  left: 125px;
  height: 26px;
}
.delete-account7 {
  position: absolute;
  display: inline-block;
}
.help6 {
  left: 121px;
  width: 143px;
}
.help6,
.logout5 {
  position: absolute;
  display: inline-block;
  height: 26px;
}
.premium6 {
  top: 787px;
  left: 121px;
  width: 143px;
  height: 26px;
}
.premium6,
.settings5 {
  position: absolute;
  display: inline-block;
}
.help6 {
  top: 854px;
}
.logout5 {
  top: 923px;
  left: 116px;
  width: 160px;
}
.delete-account7 {
  top: 988px;
  left: 103px;
  width: 188px;
  height: 34px;
}
.settings5 {
  top: 585px;
  left: 125px;
  width: 142px;
  height: 27px;
}
.frame-child62 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 164px;
  height: 59px;
  cursor: pointer;
}
.change {
  position: absolute;
  top: 7px;
  left: 1px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 159px;
  height: 44px;
}
.rectangle-parent27,
.your-username {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.rectangle-parent27 {
  cursor: pointer;
  padding: 0;
  top: 431px;
  left: 1446px;
  width: 164px;
  height: 59px;
}
.your-username {
  font-size: var(--font-size-7xl);
  top: 329px;
  left: 629px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 294px;
  height: 24px;
}
.account-settings,
.your-password,
.your-username {
  font-family: var(--font-montserrat);
}
.your-password {
  border: 0;
  font-size: var(--font-size-7xl);
  background-color: transparent;
  position: absolute;
  top: 445px;
  left: 629px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 294px;
  height: 24px;
}
.account-settings {
  position: relative;
  background-color: var(--color-mediumpurple-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
