.icbaseline-message21 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child113 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child113,
.group-child114,
.group-child115 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child114 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child115 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon84 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon84,
.vector-icon85,
.vector-icon86 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon85 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon86 {
  width: 10.33px;
  height: 25.83px;
}
.my-profile-icon9,
.sign-out9 {
  position: absolute;
  overflow: hidden;
}
.sign-out9 {
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 3.875px;
  align-items: center;
  justify-content: flex-start;
}
.my-profile-icon9 {
  height: 58.24%;
  width: 1.7%;
  top: 20.45%;
  right: 4.37%;
  bottom: 21.31%;
  left: 93.93%;
  max-width: 100%;
  max-height: 100%;
}
.mauve21 {
  position: absolute;
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.group-parent28 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.ads-child {
  top: 280px;
}
.ads-child,
.ads-child1,
.ads-child2,
.ads-child3,
.ads-child4,
.ads-inner,
.ads-item {
  position: absolute;
  left: 17px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 253px;
  height: 64px;
}
.ads-item {
  top: 380px;
}
.ads-inner {
  top: 481px;
}
.ads-child1 {
  top: 581px;
}
.ads-child2 {
  top: 682px;
}
.ads-child3 {
  top: 783px;
}
.ads-child4 {
  top: 884px;
}
.trending8 {
  top: 297px;
  left: 59px;
  width: 158px;
}
.entertainment9,
.trending8 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.finance9 {
  width: 158px;
}
.finance9,
.miscellanous7 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.sports9 {
  top: 396px;
  left: 46px;
  width: 158px;
}
.sports9,
.stem9,
.travel9 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.finance9 {
  top: 498px;
  left: 55px;
}
.stem9,
.travel9 {
  top: 597px;
  left: 42px;
  width: 159px;
}
.travel9 {
  top: 696px;
}
.entertainment9 {
  top: 800px;
  left: 81px;
  width: 181px;
}
.miscellanous7 {
  width: 181px;
  top: 900px;
  left: 73px;
}
.ads-child5,
.group-icon35 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon35 {
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
}
.ads-child5 {
  height: 3.31%;
  width: 1.9%;
  top: 26.05%;
  right: 96.19%;
  bottom: 70.64%;
  left: 1.91%;
}
.group-icon36,
.group-icon37,
.vector-icon87 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon87 {
  top: 44.32%;
  right: 96.12%;
  bottom: 52.73%;
  left: 1.97%;
}
.vector-icon87,
.vector-icon88 {
  height: 2.95%;
  width: 1.91%;
}
.vector-icon88,
.vector-icon89,
.vector-icon90 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon88 {
  top: 35.45%;
  right: 96.18%;
  bottom: 61.59%;
  left: 1.91%;
}
.vector-icon89 {
  height: 3.47%;
  width: 1.68%;
  top: 52.73%;
  right: 96.24%;
  bottom: 43.8%;
  left: 2.08%;
}
.vector-icon90 {
  height: 3.88%;
  width: 2.37%;
  top: 61.86%;
  right: 95.89%;
  bottom: 34.26%;
  left: 1.74%;
}
.group-icon36 {
  height: 3.66%;
  width: 2.36%;
  top: 71.05%;
  right: 95.87%;
  bottom: 25.3%;
  left: 1.77%;
}
.group-icon37 {
  height: 3.62%;
  width: 2.08%;
  top: 80.1%;
  right: 96.02%;
  bottom: 16.27%;
  left: 1.9%;
}
.ads-child6,
.ads-child7 {
  position: absolute;
  top: 182px;
  background-color: var(--color-indigo-300);
}
.ads-child6 {
  left: 311px;
  border-radius: 100px;
  width: 943px;
  height: 872px;
}
.ads-child7 {
  left: 1295px;
  border-radius: var(--br-xl);
  width: 367px;
  height: 500px;
}
.icon2 {
  position: absolute;
  top: 221px;
  left: 1329px;
  border-radius: var(--br-22xl);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.ads-child8,
.create-a-new {
  position: absolute;
  cursor: pointer;
}
.ads-child8 {
  top: 558px;
  left: 1334px;
  border-radius: var(--br-6xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 289px;
  height: 87px;
}
.create-a-new {
  top: 580px;
  left: 1366px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-caveat);
}
.ads-child9 {
  position: absolute;
  top: 719px;
  left: 1295px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  width: 367px;
  height: 335px;
}
.frame-child56,
.frame-child57 {
  position: relative;
  width: 804.87px;
  height: 784.4px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child57 {
  width: 826.05px;
  height: 799.93px;
}
.frame-child58 {
  width: 826.05px;
}
.frame-child58,
.frame-child59,
.image-1-icon32 {
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child58 {
  height: 719.44px;
}
.frame-child59 {
  width: 818.99px;
  height: 791.46px;
}
.image-1-icon32 {
  width: 830.29px;
  height: 790.05px;
}
.rectangle-parent38 {
  position: absolute;
  top: 205px;
  left: 384px;
  width: 859px;
  height: 830px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.59px;
}
.image-4-icon {
  position: absolute;
  top: 739px;
  left: 1317px;
  width: 324px;
  height: 296px;
  object-fit: cover;
}
.group-child116 {
  position: absolute;
  top: 0;
  left: 100.04px;
  border-radius: 55.82px;
  background-color: #110427;
  width: 957.25px;
  height: 873.79px;
}
.image-6-icon {
  position: absolute;
  top: 46.89px;
  left: 132.08px;
  width: 889.42px;
  height: 689.34px;
  object-fit: cover;
}
.kelvinator-the {
  position: absolute;
  top: 9.38px;
  left: 0;
  display: inline-block;
  width: 1174.09px;
  height: 46.11px;
}
.group-child117 {
  position: absolute;
  top: 759.24px;
  left: 452.09px;
  border-radius: 21.74px;
  background-color: #dd1f1f;
  border: 6.7px solid var(--color-white);
  box-sizing: border-box;
  width: 269.73px;
  height: 90.76px;
}
.buy-now2 {
  position: absolute;
  top: 782px;
  left: 492px;
  font-size: 39.03px;
  display: inline-block;
  width: 192px;
  height: 46px;
}
.rectangle-parent39 {
  position: absolute;
  top: 182px;
  left: 209px;
  width: 1174.09px;
  height: 873.79px;
  font-size: 31.63px;
  font-family: var(--font-fjord);
}
.charmcircle-cross-icon {
  position: absolute;
  top: 156px;
  left: 1166px;
  width: 76px;
  height: 76px;
  overflow: hidden;
  cursor: pointer;
}
.ads {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
