.icbaseline-message2 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-child4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-100);
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 44px;
}
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 0;
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
  height: 44px;
}
.frame-child6 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon10 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon10,
.vector-icon11,
.vector-icon12 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon11 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon12 {
  width: 10.33px;
  height: 25.83px;
}
.my-profile-icon2,
.sign-out2 {
  position: absolute;
  overflow: hidden;
}
.sign-out2 {
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 3.875px;
  align-items: center;
  justify-content: flex-start;
}
.my-profile-icon2 {
  height: 58.24%;
  width: 1.7%;
  top: 20.45%;
  right: 4.37%;
  bottom: 21.31%;
  left: 93.93%;
  max-width: 100%;
  max-height: 100%;
}
.mauve2 {
  position: absolute;
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.frame-group {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.group-child2,
.group-icon3 {
  cursor: pointer;
  position: absolute;
}
.group-icon3 {
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child2 {
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.trending1 {
  position: absolute;
  top: 17px;
  left: 42px;
  display: inline-block;
  width: 158px;
  height: 39px;
}
.group-child3 {
  position: absolute;
  height: 57.81%;
  width: 13%;
  top: 17.19%;
  right: 80.68%;
  bottom: 25%;
  left: 6.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-container {
  position: absolute;
  top: 280px;
  left: 17px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.finance2 {
  position: absolute;
  top: 17px;
  left: 38px;
  display: inline-block;
  width: 158px;
  height: 39px;
}
.vector-icon13 {
  position: absolute;
  height: 51.56%;
  width: 13.04%;
  top: 21.88%;
  right: 80.24%;
  bottom: 26.56%;
  left: 6.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div {
  position: absolute;
  top: 481px;
  left: 17px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.sports2 {
  position: absolute;
  top: 16px;
  left: 29px;
  display: inline-block;
  width: 158px;
  height: 39px;
}
.vector-icon14 {
  position: absolute;
  height: 51.56%;
  width: 13.04%;
  top: 25%;
  right: 80.63%;
  bottom: 23.44%;
  left: 6.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent1 {
  position: absolute;
  top: 380px;
  left: 17px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.stem2 {
  position: absolute;
  top: 16px;
  left: 25px;
  display: inline-block;
  width: 159px;
  height: 39px;
}
.vector-icon15 {
  position: absolute;
  height: 60.5%;
  width: 11.46%;
  top: 12.5%;
  right: 81.03%;
  bottom: 27%;
  left: 7.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent2 {
  position: absolute;
  top: 581px;
  left: 17px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.travel3 {
  position: absolute;
  top: 14px;
  left: 25px;
  display: inline-block;
  width: 159px;
  height: 39px;
}
.vector-icon16 {
  position: absolute;
  height: 67.72%;
  width: 16.21%;
  top: 14.06%;
  right: 78.66%;
  bottom: 18.21%;
  left: 5.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent3 {
  position: absolute;
  top: 682px;
  left: 17px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.entertainment2 {
  position: absolute;
  top: 17px;
  left: 64px;
  display: inline-block;
  width: 181px;
  height: 39px;
}
.group-icon4 {
  position: absolute;
  height: 63.83%;
  width: 16.15%;
  top: 16.52%;
  right: 78.49%;
  bottom: 19.65%;
  left: 5.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent4 {
  position: absolute;
  top: 783px;
  left: 17px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.miscellanous1 {
  position: absolute;
  top: 16px;
  left: 56px;
  display: inline-block;
  width: 181px;
  height: 39px;
}
.group-icon5 {
  position: absolute;
  height: 63.27%;
  width: 14.22%;
  top: 16.8%;
  right: 79.55%;
  bottom: 19.93%;
  left: 6.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent5 {
  position: absolute;
  top: 884px;
  left: 17px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.ads-child,
.ads-item {
  position: absolute;
  top: 182px;
  background-color: var(--color-indigo-300);
}
.ads-child {
  left: 311px;
  border-radius: 100px;
  width: 943px;
  height: 872px;
}
.ads-item {
  left: 1295px;
  border-radius: var(--br-xl);
  width: 367px;
  height: 500px;
}
.icon1 {
  position: absolute;
  top: 221px;
  left: 1329px;
  border-radius: var(--br-22xl);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.ads-inner,
.create-a-new {
  position: absolute;
  cursor: pointer;
}
.ads-inner {
  top: 558px;
  left: 1334px;
  border-radius: var(--br-6xl);
  background-color: var(--color-midnightblue);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 289px;
  height: 87px;
}
.create-a-new {
  top: 580px;
  left: 1366px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-caveat);
}
.ads-child1 {
  position: absolute;
  top: 719px;
  left: 1295px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  width: 367px;
  height: 335px;
}
.frame-child10 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child7 {
  height: 784.4px;
}
.frame-child7,
.frame-child8,
.frame-child9,
.image-1-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child8 {
  height: 799.93px;
}
.frame-child9 {
  height: 719.44px;
}
.frame-child10 {
  height: 791.46px;
}
.image-1-icon {
  height: 790.05px;
}
.rectangle-parent6 {
  position: absolute;
  top: 205px;
  left: 384px;
  width: 859px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.59px;
}
.image-4-icon {
  position: absolute;
  top: 739px;
  left: 1317px;
  width: 324px;
  height: 296px;
  object-fit: cover;
}
.frame-child11 {
  position: absolute;
  top: 0;
  left: 100.04px;
  border-radius: 55.82px;
  background-color: #110427;
  width: 957.25px;
  height: 873.79px;
}
.image-6-icon {
  position: absolute;
  top: 46.89px;
  left: 132.08px;
  width: 889.42px;
  height: 689.34px;
  object-fit: cover;
}
.kelvinator-the {
  position: absolute;
  top: 9.38px;
  left: 0;
  display: inline-block;
  width: 1174.09px;
  height: 46.11px;
}
.frame-child12 {
  position: absolute;
  top: 759.24px;
  left: 452.09px;
  border-radius: 21.74px;
  background-color: #dd1f1f;
  border: 6.7px solid var(--color-white);
  box-sizing: border-box;
  width: 269.73px;
  height: 90.76px;
}
.buy-now {
  position: absolute;
  top: 782px;
  left: 492px;
  font-size: 39.03px;
  display: inline-block;
  width: 192px;
  height: 46px;
}
.rectangle-parent7 {
  position: absolute;
  top: 182px;
  left: 209px;
  width: 1174.09px;
  height: 873.79px;
  font-size: 31.63px;
  font-family: var(--font-fjord);
}
.charmcircle-cross,
.group-icon6 {
  position: absolute;
  overflow: hidden;
}
.group-icon6 {
  height: 87.5%;
  width: 87.5%;
  top: 6.25%;
  right: 6.25%;
  bottom: 6.25%;
  left: 6.25%;
  max-width: 100%;
  max-height: 100%;
}
.charmcircle-cross {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 188px;
  left: 1165px;
  width: 76px;
  height: 76px;
}
.ads {
  position: relative;
  background-color: var(--color-mediumpurple-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
