.advertise-child {
  top: 285px;
  left: 61px;
  width: 625px;
  height: 767px;
}
.advertise-child,
.advertise-child1,
.advertise-child2,
.advertise-inner,
.advertise-item {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.advertise-child1 {
  width: 278px;
  height: 178px;
}
.advertise-inner,
.advertise-item {
  left: 87px;
  width: 278px;
  height: 178px;
}
.advertise-item {
  top: 398px;
}
.advertise-inner {
  top: 618px;
}
.advertise-child1 {
  top: 616px;
  left: 383px;
}
.advertise-child2 {
  top: 395.5px;
  left: 380.5px;
  border: 5px solid var(--color-white);
  box-sizing: border-box;
  width: 283px;
  height: 183px;
}
.icbaseline-message14 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child79 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child79,
.group-child80,
.group-child81 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child80 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child81 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent12,
.mauve14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.mauve14 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.group-parent21 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.group-icon26 {
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.advertise-child3 {
  position: absolute;
  top: 961px;
  left: 319px;
  width: 109px;
  height: 43px;
}
.advertise-child4 {
  position: absolute;
  top: 858px;
  left: 280px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 187px;
  height: 129px;
}
.buy-now,
.changebuy-plan {
  position: absolute;
  top: 858px;
  left: 291px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 166px;
  height: 154px;
}
.changebuy-plan {
  top: 311px;
  left: 65px;
  width: 621px;
  height: 69px;
}
.advertise-child5 {
  position: absolute;
  top: 963px;
  left: 721px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 941px;
  height: 89px;
}
.advertise-child6 {
  top: 285px;
  left: 721px;
  width: 941px;
  height: 644px;
}
.advertise-child6,
.frame-child43,
.frame-child44,
.frame-child45,
.frame-child46,
.frame-child47 {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.frame-child43 {
  top: 396.5px;
  left: 700.5px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 197px;
  height: 46px;
}
.frame-child44 {
  left: 53px;
}
.frame-child44,
.frame-child45,
.frame-child46,
.frame-child47 {
  top: -212px;
  width: 173px;
  height: 220px;
}
.frame-child45 {
  left: 260px;
}
.frame-child46 {
  left: 470px;
}
.frame-child47 {
  left: 680px;
}
.advertise-child7,
.rectangle-parent35 {
  position: absolute;
  top: 588px;
  left: 742px;
  width: 226px;
  height: 43px;
  cursor: pointer;
}
.advertise-child7 {
  top: 986px;
  left: 978px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 196px;
}
.advertise-child8 {
  width: 196px;
}
.advertise-child8,
.advertise-child9 {
  position: absolute;
  top: 986px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  height: 43px;
  cursor: pointer;
}
.advertise-child8 {
  left: 742px;
}
.advertise-child9 {
  left: 1214px;
  width: 194px;
}
.help6 {
  position: absolute;
  top: 994px;
  left: 1011px;
  display: inline-block;
  width: 124px;
}
.help6,
.logout5 {
  height: 26px;
}
.logout5,
.settings5,
.withdraw {
  position: absolute;
  display: inline-block;
}
.logout5 {
  top: 996px;
  left: 771px;
  width: 138px;
}
.withdraw {
  top: 993px;
  left: 1232px;
  width: 160px;
  height: 34px;
}
.settings5 {
  top: 995px;
  left: 1480px;
  width: 123px;
  height: 27px;
}
.advertise-child10 {
  position: absolute;
  top: 777px;
  left: 795px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 800px;
  height: 96px;
}
.upload-ads-mp3mp4gifpdf {
  position: absolute;
  top: 801px;
  left: 846px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 704px;
  height: 48px;
}
.advertise {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
