.icbaseline-message12 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child39 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
  height: 44px;
}
.group-child40,
.group-child41 {
  position: absolute;
  top: 0;
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
  height: 44px;
}
.group-child41 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent10,
.mauve12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.mauve12 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.group-parent9 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
}
.frame-child39 {
  position: absolute;
  top: 1px;
  left: 641px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 953px;
  height: 767px;
}
.frame-child40,
.frame-child41 {
  position: absolute;
  top: 122px;
  left: 663px;
  border-radius: var(--br-3xs);
  width: 419px;
  height: 88px;
}
.frame-child41 {
  top: 226px;
  left: 1153px;
}
.frame-child42 {
  top: 676px;
  left: 641px;
  width: 953px;
  height: 92px;
}
.frame-child42,
.frame-child43,
.frame-child44,
.frame-child45,
.frame-child46 {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.frame-child43 {
  left: 299px;
  width: 319px;
}
.frame-child43,
.frame-child44 {
  top: 0;
  height: 767px;
}
.frame-child45,
.frame-child46 {
  top: 0;
}
.frame-child44,
.frame-child45 {
  left: 0;
  width: 266px;
}
.frame-child46 {
  left: 0;
}
.frame-child45 {
  height: 285px;
}
.frame-child46 {
  text-decoration: none;
  width: 226px;
  height: 43px;
}
.frame-child47,
.rectangle-frame {
  left: 21px;
  width: 226px;
  height: 43px;
  cursor: pointer;
}
.rectangle-frame {
  position: absolute;
  top: 303px;
}
.frame-child47 {
  text-decoration: none;
  top: 370px;
}
.frame-child47,
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52 {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.frame-child48 {
  top: 436.5px;
  left: 19.5px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 229px;
  height: 46px;
}
.frame-child49 {
  top: 505px;
}
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52 {
  text-decoration: none;
  left: 21px;
  width: 226px;
  height: 43px;
  cursor: pointer;
}
.frame-child50 {
  top: 573px;
}
.frame-child51 {
  top: 640px;
}
.frame-child52 {
  top: 708px;
}
.friends2 {
  position: absolute;
  top: 379px;
  left: 61px;
  display: inline-block;
  width: 142px;
  height: 27px;
}
.chats3 {
  top: 445px;
  left: 63px;
  width: 142px;
  height: 26px;
}
.chats3,
.delete-account4,
.help3,
.logout2 {
  position: absolute;
  display: inline-block;
}
.help3,
.logout2 {
  height: 26px;
}
.premium2 {
  left: 63px;
  height: 26px;
}
.premium2,
.settings2 {
  position: absolute;
  display: inline-block;
}
.help3,
.premium2 {
  width: 143px;
}
.premium2 {
  top: 513px;
}
.help3 {
  top: 581px;
  left: 59px;
}
.logout2 {
  top: 650px;
  left: 54px;
  width: 160px;
}
.delete-account4 {
  top: 715px;
  left: 41px;
  width: 188px;
  height: 34px;
}
.settings2 {
  top: 312px;
  left: 63px;
  width: 142px;
  height: 27px;
}
.group-child42 {
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  border: 5px solid var(--color-white);
  box-sizing: border-box;
  width: 274px;
  height: 100px;
}
.mihir {
  position: absolute;
  top: 19px;
  left: 90px;
  display: inline-block;
  width: 179px;
  height: 57px;
}
.image-1-icon1 {
  position: absolute;
  top: 13px;
  left: 17px;
  border-radius: var(--br-85xl-5);
  width: 73px;
  height: 70px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.group-child43,
.rectangle-parent16 {
  position: absolute;
  width: 269px;
  height: 95px;
}
.rectangle-parent16 {
  top: 26px;
  left: 322px;
  font-size: var(--font-size-21xl);
}
.group-child43 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.group-child44,
.rectangle-parent17 {
  position: absolute;
  height: 95px;
}
.rectangle-parent17 {
  top: 143px;
  left: 0;
  width: 269px;
}
.group-child44 {
  top: 0;
  left: 321px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 950px;
}
.mihir1 {
  position: absolute;
  top: 19px;
  left: 407px;
  display: inline-block;
  width: 179px;
  height: 57px;
}
.image-1-icon3 {
  position: absolute;
  top: 13px;
  left: 334px;
  border-radius: var(--br-85xl-5);
  width: 73px;
  height: 70px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.rectangle-parent19,
.rectangle-parent20 {
  position: absolute;
  width: 269px;
}
.rectangle-parent20 {
  top: 116px;
  left: 0;
  height: 95px;
}
.rectangle-parent19 {
  top: 114px;
  left: 2px;
  height: 211px;
}
.group-parent10 {
  position: absolute;
}
.rectangle-parent18 {
  position: absolute;
  top: 264px;
  left: 0;
  width: 271px;
  height: 325px;
}
.group-parent10 {
  top: 0;
  left: 322px;
  width: 1271px;
  height: 589px;
  font-size: var(--font-size-21xl);
}
.smile-icon,
.vector-icon59 {
  position: absolute;
  top: 698px;
  left: 659px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}
.vector-icon59 {
  height: 5.34%;
  width: 2.38%;
  top: 91.15%;
  right: 52.95%;
  bottom: 3.52%;
  left: 44.67%;
  max-width: 100%;
  max-height: 100%;
}
.frame-child53 {
  position: absolute;
  top: 700px;
  left: 768px;
  border-radius: var(--br-3xs);
  width: 750px;
  height: 42px;
}
.paperclip,
.send-icon {
  position: absolute;
  top: 691.23px;
  left: 1082.33px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.send-icon {
  top: 702px;
  left: 1535px;
  width: 40px;
  height: 40px;
}
.rectangle-parent21 {
  position: absolute;
  top: 616px;
  left: 324px;
  width: 269px;
  height: 95px;
  font-size: var(--font-size-21xl);
}
.how-much-marks,
.what-about-you {
  position: absolute;
  top: 130px;
  left: 665px;
  font-size: var(--font-size-11xl);
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 405px;
  height: 45px;
}
.what-about-you {
  top: 247px;
  left: 1160px;
}
.rectangle-parent15 {
  position: absolute;
  top: 273px;
  left: 62px;
  width: 1594px;
  height: 768px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
}
.group-icon28 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group10 {
  text-decoration: none;
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  cursor: pointer;
}
.chats2 {
  position: relative;
  background-color: var(--color-mediumpurple-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-caveat);
}
