input,textarea {
font-size: var(--font-size-l);
}

.icbaseline-message1 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-child1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-100);
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 44px;
}
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 0;
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
  height: 44px;
}
.frame-child3 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon7 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon8 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon9 {
  width: 10.33px;
  height: 25.83px;
}
.sign-out1 {
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.875px;
  align-items: center;
  justify-content: flex-start;
}
.mauve1,
.my-profile-icon1,
.sign-out1 {
  position: absolute;
  cursor: pointer;
}
.my-profile-icon1 {
  height: 58.24%;
  width: 1.7%;
  top: 20.45%;
  right: 4.37%;
  bottom: 21.31%;
  left: 93.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mauve1 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.frame-parent {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-caveat);
}
.createpost-child,
.createpost-item {
  position: absolute;
  top: 41px;
  left: 61px;
  width: 200px;
  height: 191.44px;
}
.createpost-item {
  top: 298px;
  left: 311px;
  border-radius: var(--br-mini);
  background-color: #916fcb;
  width: 1043px;
  height: 750px;
}
.createpost-inner {
  position: absolute;
  top: 221px;
  left: 311px;
  border-radius: 3px;
  background-color: #bba8e0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1351px;
  height: 56px;
}
.choose-section {
  position: absolute;
  top: 228px;
  left: 358px;
  font-family: var(--font-caveat);
}
.bxloader-circle-icon {
  position: absolute;
  top: 228px;
  left: 313px;
  width: 43px;
  height: 43px;
  overflow: hidden;
}
.createpost-child1 {
  position: absolute;
  top: 308px;
  left: 325px;
  border-radius: var(--br-mini);
  background-color: #d5c8ef;
  width: 1014px;
  height: 727px;
}
.createpost-child2,
.rectangle-input {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  left: 343px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
}
.rectangle-input {
  top: 335px;
  width: 973px;
  height: 51px;
}
.createpost-child2 {
  top: 396px;
  width: 712px;
  height: 523px;
  max-height: 523px;
}
.icon {
  position: absolute;
  top: 704px;
  left: 1064px;
  width: 252px;
  height: 133px;
  object-fit: cover;
}
.createpost-child3,
.createpost-child4 {
  position: absolute;
  top: 849px;
  left: 1064px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 252px;
  height: 28px;
  cursor: pointer;
}
.createpost-child4 {
  top: 886px;
}
.abort {
  top: 851px;
  left: 1121px;
  font-size: var(--font-size-xl);
  font-family: var(--font-bruno-ace);
  color: red;
  display: inline-block;
  width: 100px;
  height: 25px;
}
.abort,
.createpost-child5,
.post {
  cursor: pointer;
  position: absolute;
}
.post {
  top: 887px;
  left: 1123px;
  font-size: var(--font-size-xl);
  font-family: var(--font-bruno-ace);
  color: #0500ff;
  display: inline-block;
  width: 100px;
  height: 25px;
}
.createpost-child5 {
  top: 235px;
  left: 543px;
  background-color: var(--color-gainsboro);
  border: 2px dashed var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.sports1 {
  position: absolute;
  top: 230px;
  left: 577px;
  display: inline-block;
  width: 122px;
  height: 22px;
}
.createpost-child6 {
  cursor: pointer;
  position: absolute;
  top: 237px;
  left: 997px;
  background-color: var(--color-gainsboro);
  border: 2px dashed var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.entertainment1 {
  position: absolute;
  top: 232px;
  left: 1031px;
  display: inline-block;
  width: 159px;
  height: 22px;
}
.createpost-child7 {
  cursor: pointer;
  position: absolute;
  top: 238px;
  left: 1181px;
  background-color: var(--color-gainsboro);
  border: 2px dashed var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.other {
  position: absolute;
  top: 233px;
  left: 1215px;
  display: inline-block;
  width: 159px;
  height: 22px;
}
.createpost-child8 {
  cursor: pointer;
  position: absolute;
  top: 237px;
  left: 888px;
  background-color: var(--color-gainsboro);
  border: 2px dashed var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.travel2 {
  position: absolute;
  top: 232px;
  left: 922px;
  display: inline-block;
  width: 122px;
  height: 22px;
}
.createpost-child9 {
  cursor: pointer;
  position: absolute;
  top: 237px;
  left: 785px;
  background-color: var(--color-gainsboro);
  border: 2px dashed var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.stem1 {
  position: absolute;
  top: 232px;
  left: 819px;
  display: inline-block;
  width: 122px;
  height: 22px;
}
.createpost-child10 {
  cursor: pointer;
  position: absolute;
  top: 237px;
  left: 654px;
  background-color: var(--color-gainsboro);
  border: 2px dashed var(--color-black);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.finance1 {
  position: absolute;
  top: 232px;
  left: 688px;
  display: inline-block;
  width: 122px;
  height: 22px;
}
.group-child1,
.image-7-icon {
  position: absolute;
  object-fit: cover;
}
.group-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 252px;
  height: 289px;
}
.image-7-icon {
  top: 5px;
  left: 4px;
  width: 243px;
  height: 278px;
}
.rectangle-group {
  position: absolute;
  top: 396px;
  left: 1064px;
  width: 252px;
  height: 289px;
}
.createpost {
  position: relative;
  background-color: var(--color-mediumpurple-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-smooch-sans);
}
