.icbaseline-message18 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child104 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child104,
.group-child105,
.group-child106 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child105 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child106 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon73 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon74 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon75 {
  width: 10.33px;
  height: 25.83px;
}
.sign-out7 {
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.875px;
  align-items: center;
  justify-content: flex-start;
}
.mauve18,
.my-profile-icon7,
.sign-out7 {
  position: absolute;
  cursor: pointer;
}
.my-profile-icon7 {
  height: 58.24%;
  width: 1.7%;
  top: 20.45%;
  right: 4.37%;
  bottom: 21.31%;
  left: 93.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mauve18 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.group-parent25 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-caveat);
}
.group-icon30 {
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.createpost-child5 {
  position: absolute;
  top: 298px;
  left: 311px;
  border-radius: var(--br-mini);
  background-color: var(--color-mediumpurple-100);
  width: 1043px;
  height: 750px;
}
.createpost-child6 {
  position: absolute;
  top: 221px;
  left: 311px;
  border-radius: 3px;
  background-color: var(--color-plum);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 280px;
  height: 56px;
}
.choose-section1 {
  position: absolute;
  top: 230px;
  left: 358px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-caveat);
  text-align: center;
}
.bxloader-circle-icon1,
.vector-icon76 {
  position: absolute;
  top: 228px;
  left: 313px;
  width: 43px;
  height: 43px;
  overflow: hidden;
}
.vector-icon76 {
  height: 3.13%;
  width: 1.91%;
  top: 20.77%;
  right: 66.38%;
  bottom: 76.1%;
  left: 31.71%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.createpost-child7 {
  position: absolute;
  top: 308px;
  left: 325px;
  border-radius: var(--br-mini);
  background-color: var(--color-thistle);
  width: 1014px;
  height: 727px;
}
.createpost-child10 {
  position: absolute;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.createpost-child8 {
  top: 335px;
  width: 973px;
  height: 51px;
}
.createpost-child8,
.createpost-child9 {
  position: absolute;
  left: 343px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.createpost-child10 {
  top: 396px;
}
.createpost-child9 {
  top: 396px;
  width: 712px;
  height: 523px;
}
.createpost-child10 {
  left: 1064px;
  width: 252px;
  height: 289px;
}
.neque-porro-quisquam1 {
  color: var(--color-gray-300);
}
.title-neque-container1 {
  position: absolute;
  top: 348px;
  left: 352px;
  display: inline-block;
  width: 950px;
}
.span1 {
  color: var(--color-gray-200);
}
.post-lorem-container1 {
  position: absolute;
  top: 415px;
  left: 355px;
  display: inline-block;
  width: 689px;
  height: 489px;
}
.mdifile-image-plus-icon1 {
  position: absolute;
  top: 468px;
  left: 1135px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}
.insert-image1 {
  position: absolute;
  top: 405px;
  left: 1072px;
  display: inline-block;
  width: 103px;
  height: 23px;
}
.icon1 {
  position: absolute;
  top: 704px;
  left: 1064px;
  width: 252px;
  height: 133px;
  object-fit: cover;
}
.createpost-child11,
.createpost-child12 {
  position: absolute;
  top: 849px;
  left: 1064px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 252px;
  height: 28px;
  cursor: pointer;
}
.createpost-child12 {
  top: 886px;
}
.abort1,
.post1 {
  position: absolute;
  top: 851px;
  left: 1121px;
  font-family: var(--font-bruno-ace);
  color: var(--color-red);
  display: inline-block;
  width: 100px;
  height: 25px;
  cursor: pointer;
}
.post1 {
  top: 887px;
  left: 1123px;
  color: var(--color-blue);
}
.createpost1 {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-cabin-condensed);
}
