.icbaseline-message5 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child25 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child25,
.group-child26,
.group-child27 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child26 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child27 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon40 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon41 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon42 {
  width: 10.33px;
  height: 25.83px;
}
.sign-out4 {
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.875px;
  align-items: center;
  justify-content: flex-start;
}
.mauve5,
.my-profile-icon4,
.sign-out4 {
  position: absolute;
  cursor: pointer;
}
.my-profile-icon4 {
  height: 58.24%;
  width: 1.7%;
  top: 20.45%;
  right: 4.37%;
  bottom: 21.31%;
  left: 93.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mauve5 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.group-parent5 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.finance-child,
.finance-item {
  left: 64px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.finance-child {
  position: absolute;
  top: 327px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.finance-item {
  top: 427px;
}
.finance-child1,
.finance-child2,
.finance-child3,
.finance-child4,
.finance-inner,
.finance-item {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.finance-inner {
  top: 523px;
  left: 59px;
  border: 5px solid var(--color-gold);
  box-sizing: border-box;
  width: 263px;
  height: 74px;
}
.finance-child1 {
  top: 628px;
}
.finance-child1,
.finance-child2,
.finance-child3,
.finance-child4 {
  left: 64px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.finance-child2 {
  top: 729px;
}
.finance-child3 {
  top: 830px;
}
.finance-child4 {
  top: 931px;
}
.sports4,
.trending4 {
  position: absolute;
  display: inline-block;
  width: 158px;
  height: 39px;
  cursor: pointer;
}
.trending4 {
  top: 344px;
  left: 106px;
}
.sports4 {
  top: 443px;
  left: 93px;
}
.entertainment5 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.finance5 {
  top: 545px;
  left: 102px;
  width: 158px;
}
.finance5,
.miscellanous4,
.stem5,
.travel5 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.entertainment5,
.miscellanous4 {
  cursor: pointer;
}
.stem5,
.travel5 {
  top: 644px;
  left: 89px;
  width: 159px;
  cursor: pointer;
}
.travel5 {
  top: 743px;
}
.entertainment5 {
  top: 847px;
  left: 128px;
  width: 181px;
}
.miscellanous4 {
  width: 181px;
  top: 947px;
  left: 120px;
}
.finance-child5,
.group-icon13 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon13 {
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  cursor: pointer;
}
.finance-child5 {
  height: 3.31%;
  width: 1.9%;
  top: 30.26%;
  right: 93.47%;
  bottom: 66.43%;
  left: 4.63%;
}
.group-icon14,
.group-icon15,
.vector-icon43 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon43 {
  top: 48.52%;
  right: 93.4%;
  bottom: 48.52%;
  left: 4.69%;
}
.vector-icon43,
.vector-icon44 {
  height: 2.95%;
  width: 1.91%;
}
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon44 {
  top: 39.66%;
  right: 93.46%;
  bottom: 57.39%;
  left: 4.63%;
}
.vector-icon45 {
  height: 3.47%;
  width: 1.68%;
  top: 56.94%;
  right: 93.52%;
  bottom: 39.6%;
  left: 4.8%;
}
.vector-icon46 {
  height: 3.88%;
  width: 2.37%;
  top: 66.07%;
  right: 93.17%;
  bottom: 30.05%;
  left: 4.46%;
}
.group-icon14 {
  height: 3.66%;
  width: 2.36%;
  top: 75.25%;
  right: 93.15%;
  bottom: 21.09%;
  left: 4.49%;
}
.group-icon15 {
  height: 3.62%;
  width: 2.08%;
  top: 84.31%;
  right: 93.3%;
  bottom: 12.06%;
  left: 4.62%;
}
.finance-child6 {
  position: absolute;
  top: 271px;
  left: 342px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 1301px;
  height: 767px;
}
.frame-child6 {
  height: 250px;
}
.frame-child6,
.frame-child7,
.frame-child8,
.frame-child9 {
  position: relative;
  width: 1140px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child7 {
  height: 425px;
}
.frame-child8 {
  height: 235px;
}
.frame-child9 {
  height: 327px;
}
.rectangle-parent11 {
  position: absolute;
  top: 312px;
  left: 431px;
  width: 1140px;
  height: 699px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.finance4 {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
