.icbaseline-message8 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child34 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child34,
.group-child35,
.group-child36 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child35 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child36 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent6,
.mauve8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.mauve8 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.group-parent8 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
}
.frame-child14 {
  position: absolute;
  top: 676px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  height: 92px;
}
.frame-child14,
.frame-child15 {
  left: 641px;
  width: 953px;
}
.frame-child15,
.frame-child16,
.frame-child17,
.frame-child18,
.frame-child19 {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.frame-child15 {
  top: 1px;
  height: 767px;
}
.frame-child16,
.frame-child17 {
  height: 767px;
}
.frame-child16 {
  top: 0;
  left: 299px;
  width: 319px;
}
.frame-child17,
.frame-child18,
.frame-child19 {
  top: 0;
}
.frame-child17,
.frame-child18 {
  left: 0;
  width: 266px;
}
.frame-child19 {
  left: 0;
}
.frame-child18 {
  height: 285px;
}
.frame-child19 {
  width: 226px;
  height: 43px;
}
.frame-child20,
.frame-child21,
.rectangle-wrapper {
  position: absolute;
  left: 21px;
  width: 226px;
  height: 43px;
  cursor: pointer;
}
.rectangle-wrapper {
  top: 303px;
}
.frame-child20,
.frame-child21 {
  top: 370px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.frame-child21 {
  top: 438px;
}
.frame-child22 {
  top: 505px;
  cursor: pointer;
}
.frame-child22,
.frame-child23,
.frame-child24,
.frame-child25 {
  position: absolute;
  left: 21px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 226px;
  height: 43px;
}
.frame-child23 {
  top: 573px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.frame-child24 {
  top: 640px;
  cursor: pointer;
}
.frame-child25 {
  cursor: pointer;
  top: 708px;
}
.friends2 {
  position: absolute;
  top: 379px;
  left: 61px;
  display: inline-block;
  width: 142px;
  height: 27px;
}
.chats2 {
  top: 445px;
  left: 63px;
  width: 142px;
  height: 26px;
}
.chats2,
.delete-account4,
.help3,
.logout2 {
  position: absolute;
  display: inline-block;
}
.help3,
.logout2 {
  height: 26px;
}
.premium2 {
  left: 63px;
  height: 26px;
}
.premium2,
.settings2 {
  position: absolute;
  display: inline-block;
}
.help3,
.premium2 {
  width: 143px;
}
.premium2 {
  top: 513px;
}
.help3 {
  top: 581px;
  left: 59px;
}
.logout2 {
  top: 650px;
  left: 54px;
  width: 160px;
}
.delete-account4 {
  top: 715px;
  left: 41px;
  width: 188px;
  height: 34px;
}
.settings2 {
  top: 312px;
  left: 63px;
  width: 142px;
  height: 27px;
}
.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 269px;
  height: 95px;
}
.faqs {
  position: absolute;
  top: 22px;
  left: 45px;
  display: inline-block;
  width: 179px;
  height: 57px;
}
.group-child38,
.rectangle-parent14 {
  position: absolute;
  width: 269px;
  height: 95px;
}
.rectangle-parent14 {
  top: 26px;
  left: 322px;
  font-size: var(--font-size-21xl);
}
.group-child38 {
  top: 0;
  left: 7px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
}
.chat-support,
.rectangle-parent15 {
  position: absolute;
  left: 0;
  width: 284px;
}
.chat-support {
  top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
}
.rectangle-parent15 {
  top: 143px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 95px;
  font-size: var(--font-size-17xl);
}
.group-child39 {
  position: absolute;
  top: 0;
  left: 328px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 950px;
  height: 95px;
}
.chat-support1 {
  position: absolute;
  top: 19px;
  left: 414px;
  display: inline-block;
  width: 288px;
  height: 57px;
}
.image-1-icon12 {
  position: absolute;
  top: 13px;
  left: 341px;
  border-radius: var(--br-85xl-5);
  width: 73px;
  height: 70px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.group-child40 {
  position: absolute;
  top: 0;
  left: 7px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 269px;
  height: 95px;
}
.contact-us,
.rate-us {
  position: absolute;
  top: 19px;
  left: 0;
  display: inline-block;
  width: 276px;
  height: 57px;
}
.rate-us {
  top: 22px;
  left: 47px;
  width: 179px;
}
.rectangle-parent17 {
  position: absolute;
  top: 120px;
  left: 7px;
  width: 269px;
  height: 95px;
}
.group-parent9 {
  position: absolute;
}
.rectangle-parent16 {
  position: absolute;
  top: 264px;
  left: 0;
  width: 276px;
  height: 215px;
}
.group-parent9 {
  top: 0;
  left: 315px;
  width: 1278px;
  height: 479px;
  font-size: var(--font-size-21xl);
}
.smile-icon,
.vector-icon54 {
  position: absolute;
  top: 698px;
  left: 659px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}
.vector-icon54 {
  height: 5.34%;
  width: 2.38%;
  top: 91.15%;
  right: 52.95%;
  bottom: 3.52%;
  left: 44.67%;
  max-width: 100%;
  max-height: 100%;
}
.frame-child26 {
  position: absolute;
  top: 700px;
  left: 768px;
  border-radius: var(--br-3xs);
  width: 750px;
  height: 42px;
}
.paperclip,
.send-icon {
  position: absolute;
  top: 691.23px;
  left: 1082.33px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.send-icon {
  top: 702px;
  left: 1535px;
  width: 40px;
  height: 40px;
}
.rectangle-parent13 {
  position: absolute;
  top: 273px;
  left: 62px;
  width: 1594px;
  height: 768px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
}
.group-icon20 {
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.help2 {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-caveat);
}
