.icbaseline-message18 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.frame-child80 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.frame-child80,
.frame-child81,
.frame-child82 {
  position: absolute;
  top: 0;
  height: 44px;
}
.frame-child81 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.frame-child82 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon60 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon60,
.vector-icon61,
.vector-icon62 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon61 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon62 {
  width: 10.33px;
  height: 25.83px;
}
.sign-out9 {
  cursor: pointer;
  border: 0;
  padding: 3.875px;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vector-icon63,
.vector-icon64 {
  position: absolute;
  height: 41.8%;
  width: 109.52%;
  top: 62.43%;
  right: -4.76%;
  bottom: -4.23%;
  left: -4.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon64 {
  height: 52.91%;
  width: 59.52%;
  top: -4.23%;
  right: 20.24%;
  bottom: 51.32%;
  left: 20.24%;
}
.mauve19,
.my-profile {
  position: absolute;
  cursor: pointer;
}
.my-profile {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 53.69%;
  width: 1.55%;
  top: 22.73%;
  right: 4.44%;
  bottom: 23.58%;
  left: 94%;
}
.mauve19 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.frame-parent3 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.group-icon43 {
  height: 69.83%;
  width: 31.28%;
  top: 29.61%;
  right: 68.72%;
  bottom: 0.56%;
  left: 0;
}
.group-icon43,
.group-icon44,
.group-icon45,
.group-icon46,
.group-icon47 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon44,
.group-icon45 {
  height: 17.13%;
  width: 32.09%;
  top: 16.31%;
  right: 65.79%;
  bottom: 66.55%;
  left: 2.12%;
}
.group-icon45 {
  top: 1.51%;
  right: 5.63%;
  bottom: 81.36%;
  left: 62.28%;
}
.group-icon46 {
  height: 85.2%;
  width: 16.84%;
  top: 0;
  right: 0;
  bottom: 14.8%;
  left: 83.16%;
}
.group-icon47 {
  height: 85.2%;
  width: 68.45%;
  top: 14.8%;
  right: 8.56%;
  bottom: 0;
  left: 22.99%;
}
.group16 {
  text-decoration: none;
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
}
.home-page-child,
.trending9 {
  position: absolute;
  cursor: pointer;
}
.home-page-child {
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  top: 280px;
  left: 17px;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.trending9 {
  top: 297px;
  left: 59px;
  display: inline-block;
  width: 158px;
  height: 39px;
}
.home-page-item {
  position: absolute;
  height: 3.31%;
  width: 1.9%;
  top: 26.05%;
  right: 96.19%;
  bottom: 70.64%;
  left: 1.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.finance10,
.home-page-inner {
  position: absolute;
  cursor: pointer;
}
.home-page-inner {
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  top: 481px;
  left: 17px;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.finance10 {
  top: 498px;
  left: 55px;
  display: inline-block;
  width: 158px;
  height: 39px;
}
.vector-icon65 {
  position: absolute;
  height: 2.95%;
  width: 1.91%;
  top: 44.32%;
  right: 96.12%;
  bottom: 52.73%;
  left: 1.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-page-child1,
.sports10 {
  position: absolute;
  cursor: pointer;
}
.home-page-child1 {
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  top: 380px;
  left: 17px;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.sports10 {
  top: 396px;
  left: 46px;
  display: inline-block;
  width: 158px;
  height: 39px;
}
.vector-icon66 {
  position: absolute;
  height: 2.95%;
  width: 1.91%;
  top: 35.45%;
  right: 96.18%;
  bottom: 61.59%;
  left: 1.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-page-child2,
.stem10 {
  position: absolute;
  cursor: pointer;
}
.home-page-child2 {
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  top: 581px;
  left: 17px;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.stem10 {
  top: 597px;
  left: 42px;
  display: inline-block;
  width: 159px;
  height: 39px;
}
.vector-icon67 {
  position: absolute;
  height: 3.47%;
  width: 1.68%;
  top: 52.73%;
  right: 96.24%;
  bottom: 43.8%;
  left: 2.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-page-child3,
.travel10 {
  position: absolute;
  cursor: pointer;
}
.home-page-child3 {
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  top: 682px;
  left: 17px;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.travel10 {
  top: 696px;
  left: 42px;
  display: inline-block;
  width: 159px;
  height: 39px;
}
.vector-icon68 {
  position: absolute;
  height: 3.88%;
  width: 2.37%;
  top: 61.86%;
  right: 95.89%;
  bottom: 34.26%;
  left: 1.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-page-child4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  position: absolute;
  top: 783px;
  left: 17px;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.entertainment10 {
  position: absolute;
  top: 800px;
  left: 81px;
  display: inline-block;
  width: 181px;
  height: 39px;
  cursor: pointer;
}
.group-icon48 {
  position: absolute;
  height: 3.66%;
  width: 2.36%;
  top: 71.05%;
  right: 95.87%;
  bottom: 25.3%;
  left: 1.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-page-child5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  position: absolute;
  top: 884px;
  left: 17px;
  border-radius: var(--br-xl);
  width: 253px;
  height: 64px;
}
.miscellanous8 {
  position: absolute;
  top: 900px;
  left: 73px;
  display: inline-block;
  width: 181px;
  height: 39px;
  cursor: pointer;
}
.group-icon49 {
  position: absolute;
  height: 3.62%;
  width: 2.08%;
  top: 80.1%;
  right: 96.02%;
  bottom: 16.27%;
  left: 1.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-page-child6 {
  position: absolute;
  left: 311px;
  border-radius: var(--br-xl);
  width: 943px;
  height: 872px;
}
.home-page-child6,
.home-page-child7 {
  top: 182px;
  background-color: var(--color-indigo-300);
}
.home-page-child7,
.home-page-child8 {
  position: absolute;
  border-radius: var(--br-xl);
}
.home-page-child7,
.home-page-child8 {
  left: 1295px;
  width: 367px;
  height: 500px;
}
.home-page-child8 {
  top: 719px;
  background-color: var(--color-gray-200);
  height: 335px;
}
.frame-child83 {
  height: 784.4px;
}
.frame-child83,
.frame-child84,
.frame-child85,
.frame-child86,
.image-1-icon14 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child84 {
  height: 799.93px;
}
.frame-child85 {
  height: 719.44px;
}
.frame-child86 {
  height: 791.46px;
}
.image-1-icon14 {
  height: 790.05px;
}
.rectangle-parent31 {
  position: absolute;
  top: 205px;
  left: 384px;
  width: 859px;
  height: 784px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.59px;
}
.icon2,
.image-4 {
  position: absolute;
}
.image-4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 739px;
  left: 1317px;
  width: 324px;
  height: 296px;
  background-image: url(./public/image-4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.icon2 {
  top: 221px;
  left: 1329px;
  border-radius: var(--br-22xl);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.home-page-child9 {
  cursor: pointer;
  border: 2px solid var(--color-white);
  padding: 0;
  background-color: var(--color-midnightblue);
  position: absolute;
  top: 558px;
  left: 1334px;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 289px;
  height: 87px;
}
.create-a-new1,
.home-page {
  text-align: center;
  color: var(--color-white);
}
.create-a-new1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 580px;
  left: 1366px;
  font-size: var(--font-size-17xl);
  font-weight: 700;
  font-family: var(--font-caveat);
  display: inline-block;
}
.home-page {
  position: relative;
  background-color: var(--color-mediumpurple-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
}
