.frame-child77 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-100);
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 44px;
}
.frame-child78,
.frame-child79 {
  position: absolute;
  top: 0;
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
  height: 44px;
}
.frame-child79 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.mauve18 {
  position: absolute;
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.rectangle-parent30 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.login-child {
  position: absolute;
  top: 335px;
  left: 584px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 559px;
  height: 546px;
}
.login-to-mauve {
  position: absolute;
  top: 345px;
  left: 564px;
  font-size: var(--font-size-56xl);
  font-family: var(--font-caveat);
  display: inline-block;
  width: 596px;
  height: 39px;
}
.login-inner,
.login-item {
  text-decoration: none;
  position: absolute;
  left: 665px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 393px;
  height: 41px;
  cursor: pointer;
}
.login-item {
  top: 760px;
}
.login-inner {
  top: 810px;
}
.forgot-your-password,
.new-to-mauve {
  color: inherit;
  display: inline-block;
  width: 384px;
  height: 39px;
}
.forgot-your-password {
  text-decoration: none;
  position: absolute;
  top: 762px;
  left: 670px;
  cursor: pointer;
}
.new-to-mauve {
  top: 810px;
  left: 666px;
}
.login-child1,
.login1,
.new-to-mauve {
  text-decoration: none;
  position: absolute;
  cursor: pointer;
}
.login-child1 {
  top: 678px;
  left: 696px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 335px;
  height: 64px;
}
.login1 {
  top: 691px;
  left: 759px;
  font-size: var(--font-size-17xl);
  color: inherit;
  display: inline-block;
  width: 210px;
  height: 39px;
}
.group-icon38 {
  height: 69.83%;
  width: 31.28%;
  top: 29.61%;
  right: 68.72%;
  bottom: 0.56%;
  left: 0;
}
.group-icon38,
.group-icon39,
.group-icon40,
.group-icon41,
.group-icon42 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon39,
.group-icon40 {
  height: 17.13%;
  width: 32.09%;
  top: 16.31%;
  right: 65.79%;
  bottom: 66.55%;
  left: 2.12%;
}
.group-icon40 {
  top: 1.51%;
  right: 5.63%;
  bottom: 81.36%;
  left: 62.28%;
}
.group-icon41 {
  height: 85.2%;
  width: 16.84%;
  top: 0;
  right: 0;
  bottom: 14.8%;
  left: 83.16%;
}
.group-icon42 {
  height: 85.2%;
  width: 68.45%;
  top: 14.8%;
  right: 8.56%;
  bottom: 0;
  left: 22.99%;
}
.group15 {
  text-decoration: none;
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  cursor: pointer;
}
.login-child2 {
  position: absolute;
  top: 475px;
  left: 638px;
  border-radius: var(--br-xl);
  width: 451px;
  height: 64px;
}
.username2 {
  position: absolute;
  top: 488px;
  left: 636px;
  display: inline-block;
  width: 210px;
  height: 39px;
}
.login-child3 {
  position: absolute;
  top: 553px;
  left: 638px;
  border-radius: var(--br-xl);
  width: 451px;
  height: 64px;
}
.password3 {
  position: absolute;
  top: 566px;
  left: 636px;
  display: inline-block;
  width: 210px;
  height: 39px;
}
.login-child4,
.login-child5 {
  border: 0;
  background-color: var(--color-plum-100);
  position: absolute;
  top: 488px;
  left: 829px;
  border-radius: var(--br-mini);
  width: 245px;
  height: 39px;
}
.login-child5 {
  top: 566px;
}
.login {
  position: relative;
  background-color: var(--color-mediumpurple-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
