.premium-child {
  top: 273px;
  left: 361px;
  width: 1301px;
  height: 767px;
}
.premium-child,
.premium-child1,
.premium-child2,
.premium-child3,
.premium-child4,
.premium-inner,
.premium-item {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.premium-inner,
.premium-item {
  top: 273px;
}
.premium-item {
  height: 767px;
}
.premium-inner,
.premium-item {
  left: 62px;
  width: 266px;
}
.premium-inner {
  height: 285px;
}
.premium-child1 {
  top: 380px;
  left: 394px;
  width: 593px;
  height: 178px;
}
.premium-child2 {
  left: 394px;
}
.premium-child2,
.premium-child3,
.premium-child4 {
  width: 593px;
  height: 178px;
}
.premium-child2 {
  top: 600px;
}
.premium-child3 {
  top: 598px;
  left: 1027px;
}
.premium-child4 {
  left: 1027px;
  top: 380px;
}
.icbaseline-message14 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-child56 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
  height: 44px;
}
.frame-child57,
.frame-child58 {
  position: absolute;
  top: 0;
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
  height: 44px;
}
.frame-child58 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent12,
.mauve14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.mauve14 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.frame-container {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.group-icon30 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group12 {
  text-decoration: none;
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  cursor: pointer;
}
.premium-child5 {
  background-color: var(--color-indigo-300);
  position: absolute;
  top: 576px;
  border-radius: var(--br-xl);
}
.premium-child5,
.premium-child6,
.premium-child7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  left: 83px;
  width: 226px;
  height: 43px;
}
.premium-child6 {
  background-color: var(--color-indigo-300);
  position: absolute;
  top: 643px;
  border-radius: var(--br-xl);
}
.premium-child7 {
  top: 711px;
}
.premium-child10,
.premium-child11,
.premium-child7,
.premium-child8,
.premium-child9 {
  background-color: var(--color-indigo-300);
  position: absolute;
  border-radius: var(--br-xl);
}
.premium-child8 {
  top: 776.5px;
  left: 81.5px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 229px;
  height: 46px;
}
.premium-child10,
.premium-child11,
.premium-child9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  left: 83px;
  width: 226px;
  height: 43px;
}
.premium-child9 {
  top: 846px;
}
.premium-child10 {
  top: 913px;
}
.premium-child11 {
  top: 981px;
}
.friends5 {
  position: absolute;
  top: 652px;
  left: 123px;
  display: inline-block;
  width: 142px;
  height: 27px;
}
.chats5 {
  top: 718px;
  left: 125px;
  width: 142px;
  height: 26px;
}
.chats5,
.delete-account6,
.help5,
.logout4 {
  position: absolute;
  display: inline-block;
}
.help5,
.logout4 {
  height: 26px;
}
.premium5 {
  left: 125px;
  height: 26px;
}
.premium5,
.settings4 {
  position: absolute;
  display: inline-block;
}
.help5,
.premium5 {
  width: 143px;
}
.premium5 {
  top: 786px;
}
.help5 {
  top: 854px;
  left: 121px;
}
.logout4 {
  top: 923px;
  left: 116px;
  width: 160px;
}
.delete-account6 {
  top: 988px;
  left: 103px;
  width: 188px;
  height: 34px;
}
.settings4 {
  top: 585px;
  left: 125px;
  width: 142px;
  height: 27px;
}
.premium-child12,
.premium-child13 {
  position: absolute;
  top: 949px;
  left: 899px;
  width: 226px;
  height: 43px;
}
.premium-child13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo-300);
  top: 846px;
  left: 816px;
  border-radius: var(--br-xl);
  width: 391px;
  height: 129px;
}
.contact-us-now,
.plans-and-pricing {
  position: absolute;
  display: inline-block;
}
.plans-and-pricing {
  top: 299px;
  left: 370px;
  font-size: var(--font-size-29xl);
  width: 466px;
  height: 69px;
}
.contact-us-now {
  top: 863px;
  left: 841px;
  font-size: 33px;
  width: 346px;
  height: 93px;
}
.premium4 {
  position: relative;
  background-color: var(--color-mediumpurple-100);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
