.icbaseline-message6 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child28 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child28,
.group-child29,
.group-child30 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child29 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child30 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon47 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon47,
.vector-icon48,
.vector-icon49 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon48 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon49 {
  width: 10.33px;
  height: 25.83px;
}
.sign-out5 {
  position: absolute;
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.875px;
  align-items: center;
  justify-content: flex-start;
}
.mauve6,
.my-profile-icon5 {
  position: absolute;
  cursor: pointer;
}
.my-profile-icon5 {
  height: 58.24%;
  width: 1.7%;
  top: 20.45%;
  right: 4.37%;
  bottom: 21.31%;
  left: 93.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mauve6 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.group-parent6 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.sports-child,
.sports-item {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.sports-child {
  top: 327px;
  left: 64px;
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.sports-item {
  top: 422px;
  left: 59px;
  border: 5px solid var(--color-gold);
  box-sizing: border-box;
  width: 263px;
  height: 74px;
}
.sports-child1,
.sports-inner {
  position: absolute;
  cursor: pointer;
}
.sports-inner {
  top: 528px;
  left: 64px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 253px;
  height: 64px;
}
.sports-child1 {
  top: 628px;
}
.sports-child1,
.sports-child2,
.sports-child3 {
  left: 64px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 253px;
  height: 64px;
}
.sports-child2 {
  position: absolute;
  top: 729px;
  cursor: pointer;
}
.sports-child3 {
  top: 830px;
}
.sports-child3,
.sports-child4,
.trending5 {
  position: absolute;
  cursor: pointer;
}
.sports-child4 {
  top: 931px;
  left: 64px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 253px;
  height: 64px;
}
.entertainment6,
.trending5 {
  display: inline-block;
  height: 39px;
}
.trending5 {
  top: 344px;
  left: 106px;
  width: 158px;
}
.entertainment6 {
  position: absolute;
}
.finance6 {
  width: 158px;
}
.finance6,
.miscellanous5 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.sports6 {
  top: 443px;
  left: 93px;
  width: 158px;
}
.sports6,
.stem6,
.travel6 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.entertainment6 {
  cursor: pointer;
}
.finance6 {
  top: 545px;
  left: 102px;
}
.finance6,
.miscellanous5,
.stem6,
.travel6 {
  cursor: pointer;
}
.stem6,
.travel6 {
  top: 644px;
  left: 89px;
  width: 159px;
}
.travel6 {
  top: 743px;
}
.entertainment6 {
  top: 847px;
  left: 128px;
  width: 181px;
}
.miscellanous5 {
  width: 181px;
  top: 947px;
  left: 120px;
}
.group-icon16,
.sports-child5 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon16 {
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  cursor: pointer;
}
.sports-child5 {
  height: 3.31%;
  width: 1.9%;
  top: 30.26%;
  right: 93.47%;
  bottom: 66.43%;
  left: 4.63%;
}
.group-icon17,
.group-icon18,
.vector-icon50 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon50 {
  top: 48.52%;
  right: 93.4%;
  bottom: 48.52%;
  left: 4.69%;
}
.vector-icon50,
.vector-icon51 {
  height: 2.95%;
  width: 1.91%;
}
.vector-icon51,
.vector-icon52,
.vector-icon53 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon51 {
  top: 39.66%;
  right: 93.46%;
  bottom: 57.39%;
  left: 4.63%;
}
.vector-icon52 {
  height: 3.47%;
  width: 1.68%;
  top: 56.94%;
  right: 93.52%;
  bottom: 39.6%;
  left: 4.8%;
}
.vector-icon53 {
  height: 3.88%;
  width: 2.37%;
  top: 66.07%;
  right: 93.17%;
  bottom: 30.05%;
  left: 4.46%;
}
.group-icon17 {
  height: 3.66%;
  width: 2.36%;
  top: 75.25%;
  right: 93.15%;
  bottom: 21.09%;
  left: 4.49%;
}
.group-icon18 {
  height: 3.62%;
  width: 2.08%;
  top: 84.31%;
  right: 93.3%;
  bottom: 12.06%;
  left: 4.62%;
}
.sports-child6 {
  position: absolute;
  top: 276px;
  left: 349px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 1301px;
  height: 767px;
}
.frame-child10 {
  position: relative;
  width: 1140px;
  height: 541px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child11 {
  width: 1140px;
}
.frame-child11,
.frame-child12 {
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child11 {
  height: 312px;
}
.frame-child12 {
  width: 1141px;
  height: 911px;
}
.rectangle-parent12 {
  position: absolute;
  top: 312px;
  left: 431px;
  width: 1140px;
  height: 699px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.sports5 {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
