.icbaseline-message20 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child110 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child110,
.group-child111,
.group-child112 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child111 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child112 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.vector-icon77 {
  width: 18.08px;
  height: 2.58px;
}
.vector-icon77,
.vector-icon78,
.vector-icon79 {
  position: relative;
  flex-shrink: 0;
}
.vector-icon78 {
  width: 9.04px;
  height: 15.5px;
}
.vector-icon79 {
  width: 10.33px;
  height: 25.83px;
}
.sign-out8 {
  top: 6px;
  left: 1302px;
  box-shadow: 0 5.166666507720947px 5.17px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.875px;
  align-items: center;
  justify-content: flex-start;
}
.mauve20,
.my-profile-icon8,
.sign-out8 {
  position: absolute;
  cursor: pointer;
}
.my-profile-icon8 {
  height: 58.24%;
  width: 1.7%;
  top: 20.45%;
  right: 4.37%;
  bottom: 21.31%;
  left: 93.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mauve20 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
}
.group-parent27 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.trending-child {
  position: absolute;
  top: 322px;
  left: 59px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  border: 5px solid var(--color-gold);
  box-sizing: border-box;
  width: 263px;
  height: 74px;
}
.trending-child1,
.trending-child2,
.trending-child3,
.trending-child4,
.trending-inner,
.trending-item {
  position: absolute;
  left: 64px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 253px;
  height: 64px;
  cursor: pointer;
}
.trending-item {
  top: 427px;
}
.trending-inner {
  top: 528px;
}
.trending-child1 {
  top: 628px;
}
.trending-child2 {
  top: 729px;
}
.trending-child3 {
  top: 830px;
}
.trending-child4 {
  top: 931px;
}
.entertainment8,
.trending7 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.trending7 {
  top: 344px;
  left: 106px;
  width: 158px;
}
.entertainment8 {
  cursor: pointer;
}
.finance8 {
  width: 158px;
}
.finance8,
.miscellanous6 {
  position: absolute;
  display: inline-block;
  height: 39px;
  cursor: pointer;
}
.sports8 {
  top: 443px;
  left: 93px;
  width: 158px;
}
.sports8,
.stem8,
.travel8 {
  position: absolute;
  display: inline-block;
  height: 39px;
  cursor: pointer;
}
.finance8 {
  top: 545px;
  left: 102px;
}
.stem8,
.travel8 {
  top: 644px;
  left: 89px;
  width: 159px;
}
.travel8 {
  top: 743px;
}
.entertainment8 {
  top: 847px;
  left: 128px;
  width: 181px;
}
.miscellanous6 {
  width: 181px;
  top: 947px;
  left: 120px;
}
.group-icon32,
.trending-child5 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon32 {
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  cursor: pointer;
}
.trending-child5 {
  height: 3.31%;
  width: 1.9%;
  top: 30.26%;
  right: 93.47%;
  bottom: 66.43%;
  left: 4.63%;
}
.group-icon33,
.group-icon34,
.vector-icon80 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon80 {
  top: 48.52%;
  right: 93.4%;
  bottom: 48.52%;
  left: 4.69%;
}
.vector-icon80,
.vector-icon81 {
  height: 2.95%;
  width: 1.91%;
}
.vector-icon81,
.vector-icon82,
.vector-icon83 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon81 {
  top: 39.66%;
  right: 93.46%;
  bottom: 57.39%;
  left: 4.63%;
}
.vector-icon82 {
  height: 3.47%;
  width: 1.68%;
  top: 56.94%;
  right: 93.52%;
  bottom: 39.6%;
  left: 4.8%;
}
.vector-icon83 {
  height: 3.88%;
  width: 2.37%;
  top: 66.07%;
  right: 93.17%;
  bottom: 30.05%;
  left: 4.46%;
}
.group-icon33 {
  height: 3.66%;
  width: 2.36%;
  top: 75.25%;
  right: 93.15%;
  bottom: 21.09%;
  left: 4.49%;
}
.group-icon34 {
  height: 3.62%;
  width: 2.08%;
  top: 84.31%;
  right: 93.3%;
  bottom: 12.06%;
  left: 4.62%;
}
.trending-child6 {
  position: absolute;
  top: 272px;
  left: 349px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 1301px;
  height: 767px;
}
.frame-child52 {
  height: 182px;
}
.frame-child52,
.frame-child53,
.frame-child55 {
  position: relative;
  width: 1140px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child53 {
  height: 1111px;
}
.frame-child55 {
  height: 961px;
}
.rectangle-parent37 {
  position: absolute;
  top: 312px;
  left: 431px;
  width: 1140px;
  height: 699px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.trending6 {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
