.rectangle-div {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.trial-child {
  top: 274px;
  left: 1004px;
  width: 652px;
}
.trial-child,
.trial-inner,
.trial-item {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  height: 767px;
}
.rectangle-div,
.trial-inner {
  top: 273px;
}
.trial-item {
  top: 273px;
  left: 361px;
  width: 626px;
}
.rectangle-div,
.trial-inner {
  left: 62px;
  width: 266px;
}
.rectangle-div {
  height: 285px;
}
.icbaseline-message {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-item {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-inner {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent,
.mauve {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.mauve {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.group-parent {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-caveat);
}
.group-icon {
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.frame-child,
.frame-div {
  position: absolute;
  width: 226px;
  height: 43px;
}
.frame-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.frame-div {
  top: 576px;
  left: 83px;
  cursor: pointer;
}
.trial-child1,
.trial-child2,
.trial-child3,
.trial-child4,
.trial-child5,
.trial-child6 {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.trial-child1 {
  top: 641.5px;
  left: 81.5px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 229px;
  height: 46px;
}
.trial-child2 {
  top: 711px;
}
.trial-child2,
.trial-child3,
.trial-child4,
.trial-child5,
.trial-child6 {
  left: 83px;
  width: 226px;
  height: 43px;
  cursor: pointer;
}
.trial-child3 {
  top: 778px;
}
.trial-child4 {
  top: 846px;
}
.trial-child5 {
  top: 913px;
}
.trial-child6 {
  top: 981px;
}
.chats {
  position: absolute;
  display: inline-block;
  width: 142px;
}
.friends {
  top: 652px;
  left: 123px;
  width: 142px;
  height: 27px;
}
.friends,
.help,
.logout,
.premium {
  position: absolute;
  display: inline-block;
}
.chats {
  top: 718px;
  left: 125px;
}
.chats,
.help,
.logout,
.premium {
  height: 26px;
}
.premium {
  left: 125px;
}
.help,
.premium {
  width: 143px;
}
.premium {
  top: 786px;
}
.help {
  top: 854px;
  left: 121px;
}
.logout {
  top: 923px;
  left: 116px;
  width: 160px;
}
.delete-account {
  top: 988px;
  left: 103px;
  width: 188px;
  height: 34px;
}
.delete-account,
.settings,
.suggestions,
.your-friends {
  position: absolute;
  display: inline-block;
}
.settings {
  top: 585px;
  left: 125px;
  width: 142px;
  height: 27px;
}
.suggestions,
.your-friends {
  top: 299px;
  font-size: var(--font-size-29xl);
  height: 69px;
}
.your-friends {
  left: 370px;
  width: 310px;
}
.suggestions {
  left: 1013px;
  width: 314px;
}
.group-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
}
.aditya {
  position: absolute;
  height: 60%;
  width: 30.19%;
  top: 20%;
  left: 15.18%;
  display: inline-block;
}
.image-1-icon,
.vector-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-1-icon {
  height: 73.68%;
  width: 12.31%;
  top: 13.68%;
  right: 84.82%;
  bottom: 12.63%;
  left: 2.87%;
  border-radius: var(--br-85xl-5);
  object-fit: cover;
  mix-blend-mode: normal;
}
.vector-icon {
  height: 40%;
  width: 6.41%;
  top: 30.53%;
  right: 4.05%;
  bottom: 29.47%;
  left: 89.54%;
}
.rectangle-parent {
  position: relative;
  width: 593px;
  height: 95px;
  flex-shrink: 0;
}
.vector-icon6,
.vector-icon7 {
  position: absolute;
  height: 37.89%;
  width: 6.41%;
  top: 30.53%;
  right: 4.05%;
  bottom: 31.58%;
  left: 89.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon7 {
  width: 6.07%;
  top: 31.58%;
  right: 4.22%;
  bottom: 30.53%;
  left: 89.71%;
}
.group-container {
  position: absolute;
  top: 368px;
  left: 383px;
  height: 672px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: var(--font-size-21xl);
}
.trial {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
