.icbaseline-message10 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child52 {
  left: 0;
  background-color: var(--color-indigo-100);
  width: 262px;
}
.group-child52,
.group-child53,
.group-child54 {
  position: absolute;
  top: 0;
  height: 44px;
}
.group-child53 {
  left: 271px;
  background-color: var(--color-indigo-300);
  width: 360px;
}
.group-child54 {
  left: 640px;
  background-color: var(--color-indigo-200);
  width: 711px;
}
.icbaseline-message-parent8,
.mauve10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1375px;
  height: 44px;
}
.mauve10 {
  top: -27px;
  left: -4px;
  display: inline-block;
  width: 251px;
  height: 30px;
  cursor: pointer;
}
.group-parent12 {
  position: absolute;
  top: 88px;
  left: calc(50% - 553px);
  width: 1351px;
  height: 44px;
  font-family: var(--font-caveat);
}
.verify-child {
  position: absolute;
  top: 249px;
  left: 358px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 1011px;
  height: 601px;
}
.verify-your-account {
  position: absolute;
  top: 291px;
  left: 539px;
  font-size: var(--font-size-56xl);
  font-family: var(--font-caveat);
  display: inline-block;
  width: 596px;
  height: 39px;
}
.verify-item {
  position: absolute;
  top: 739px;
  left: 699px;
  border-radius: var(--br-xl);
  background-color: var(--color-indigo-300);
  width: 335px;
  height: 64px;
  cursor: pointer;
}
.verify1 {
  position: absolute;
  top: 752px;
  left: 714px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 305px;
  height: 39px;
}
.verify-inner {
  position: absolute;
  top: 614px;
  left: 634px;
  border-radius: var(--br-xl);
  width: 459px;
  height: 72px;
}
.otp {
  position: absolute;
  top: 627px;
  left: 606px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 210px;
  height: 39px;
}
.group-icon22 {
  position: absolute;
  height: 17.14%;
  width: 11.57%;
  top: 3.67%;
  right: 84.9%;
  bottom: 79.19%;
  left: 3.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.verify-child1 {
  position: absolute;
  top: 465px;
  left: 422px;
  border-radius: var(--br-xl);
  width: 885px;
  height: 114px;
}
.enter-the-six {
  position: absolute;
  top: 480px;
  left: 422px;
  font-size: 35px;
  display: inline-block;
  width: 848px;
  height: 138px;
}
.verify-child2 {
  position: absolute;
  top: 628px;
  left: 767px;
  border-radius: var(--br-3xs);
  width: 314px;
  height: 36px;
}
.verify {
  position: relative;
  background-color: var(--color-mediumpurple-200);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
