<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/chats.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    </head>

    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="topnav" id="myTopnav">
          <a href="../home" >Home</a>
          <a href="../friendsPosts" >Friends</a>
          <a href="../sports">Sports</a>
          <a href="../finance">Finance</a>
          <a href="../stem">STEM</a>
          <a href="../travel">Travel</a>
          <a href="../entertainment" >Entertainment</a>
          <a href="../others">Others</a>
          <a href="../settings" class="active" >Settings</a>
    
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <div class="topnav2" id="myTopnav2">
            <a href="../settings"  >Account Settings</a>
            <a href="../manageFriends">Manage Friends</a>
            <a href="../chats" class="active">Chats</a>
            <a href="../premium">Premium</a>
            <a href="../help">Help</a>
            <a href="../logout">Logout</a>
            <a href="../delete">Delete Account</a>
      
            <a href="javascript:void(0);" class="icon" onclick="myFunction2()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
    
        <div class="window" >
            <div class="contain">
            <div class="loadmore" id="loadmore">
                <button class="loadmore2" role="button" id="loadmore2">Load more</button>
            </div>
            </div>
            <!-- {% for chat in sentToMe %}
              <div class="leftmsg" id="{{chat[0]}}">
                <p><h3>{{chat[1]}} - {{chat[4]}}</h3></p>
                <p> {{chat[3]}} </p>

              </div>
            {% endfor %}

            {% for chat in sentByMe %}
              <div class="rightmsg" id="{{chat[0]}}">
                <p><h3>{{chat[1]}} - {{chat[4]}}</h3></p>
                <p> {{chat[3]}} </p>

              </div>
            {% endfor %} -->

            {% for chat in ourChats %}
            {% if chat[1] == friendname %}
            <div class="leftmsg" id="{{chat[0]}}">
              <p><h3>{{chat[1]}} - {{chat[4]}}</h3></p>
              <p> {{chat[3]}} </p>

            </div>
            {% else %}
            <div class="rightmsg" id="{{chat[0]}}">
              <p><h3>{{chat[1]}} - {{chat[4]}}</h3></p>
              <p> {{chat[3]}} </p>

            </div>
            {% endif %}
            {% endfor %}


            <form method = "POST" action="/addChat/{{friendname}}">
              <div class="newmsg">
                  <input type="text" class="msgbox" placeholder="Type a message" name="content">
                  <button class="send" id="send" role="button" type="submit">Send</button>
              </div>
            </form>

        </div>
        <script>
            /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }
          function myFunction2() {
            var x = document.getElementById("myTopnav2");
            if (x.className === "topnav2") {
              x.className += " responsive";
            } else {
              x.className = "topnav2";
            }
          }

          var loadmore2 = document.getElementById("loadmore2");
          if (loadmore2) {
            loadmore2.addEventListener("click", function (e) {
            });
          }

          var loadmore = document.getElementById("loadmore");
          if (loadmore) {
            loadmore.addEventListener("click", function (e) {
            });
          }

          var send = document.getElementById("send");
          if (send) {
            send.addEventListener("click", function (e) {
            });
          }
        </script>
    </body>
    
    </html>
