<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/chats.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    </head>

    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="topnav" id="myTopnav">
          <a href="./home" >Home</a>
            <a href="./friends" >Friends</a>
            <a href="./sports">Sports</a>
            <a href="./finance">Finance</a>
            <a href="./stem">STEM</a>
            <a href="./travel">Travel</a>
            <a href="./entertainment" >Entertainment</a>
            <a href="./others">Others</a>
            <a href="./settings" class="active">Settings</a>
    
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <div class="topnav2" id="myTopnav2">
            <a href="./settings"  >Account Settings</a>
            <a href="./manageFriends"class="active">Manage Friends</a>
            <a href="./chats" >Chats</a>
            <a href="./premium">Premium</a>
            <a href="./help">Help</a>
            <a href="./logout">Logout</a>
            <a href="./delete">Delete Account</a>
      
            <a href="javascript:void(0);" class="icon" onclick="myFunction2()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
    
        <div class="window" >
            <div class="contain">
            <div class="loadmore" id="loadmore">
                <button class="loadmore2" role="button" id="loadmore2">Load more</button>
            </div>
            </div>
            {% for friend in friends %}
              <div class="leftmsg" id="{{friend[1]}}">
                <h3>{{friend[1]}}</h3>
                <form method="GET" action="/viewChats/{{friend[1]}}">
                  <button class="chat" role="button" id="chat_{{friend[1]}}" type="submit" name="chat_{{friend[1]}}" >Chat</button>
                </form>
                <form method="GET" action="/removeFriend/{{friend[1]}}">
                  <button class="chat" role="button" id="rem_{{friend[1]}}" type="submit" name="remove_{{friend[1]}}" >Remove</button>
                </form>
              </div>
            {% endfor %}
            <!-- <div class="leftmsg" id="msg1">
                <h3>Parth</h3>
                <button class="chat" role="button" id="chat">Chat</button>
            </div>
            <div class="leftmsg" id="msg2">
              <div class="d-flex flex-row bg-info">
              <p><h3>Rajat</h3></p>
                <button class="chat" role="button" id="chat">Chat</button>
                </div>
            </div>
            <div class="leftmsg" id="msg1">
                <p><h3>Kush</h3></p>
                <button class="chat" role="button" id="chat">Chat</button>
            </div>
            <div class="leftmsg" id="msg1">
              <p><h3>Harsh</h3></p>
              <button class="chat" role="button" id="chat">Chat</button>
          </div>
          <div class="leftmsg" id="msg1">
            <p><h3>Mihir</h3></p>
            <button class="chat" role="button" id="chat">Chat</button>
        </div> -->
          <form method = "POST" action="/addFriend">
            <h1 style="color:white;">Add Friend</h1>
            <div class="newmsg">
                <input type="text" class="msgbox" placeholder="Search for friend" name="friendname">
                <button class="add" id="add" role="button" type="submit">Add Friend</button>
            </div>
          </form>
        </div>

        <script>
            /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }
          function myFunction2() {
            var x = document.getElementById("myTopnav2");
            if (x.className === "topnav2") {
              x.className += " responsive";
            } else {
              x.className = "topnav2";
            }
          }

          var loadmore2 = document.getElementById("loadmore2");
          if (loadmore2) {
            loadmore2.addEventListener("click", function (e) {
            });
          }

          var loadmore = document.getElementById("loadmore");
          if (loadmore) {
            loadmore.addEventListener("click", function (e) {
            });
          }

          var remove = document.getElementById("remove");
          if (remove) {
            remove.addEventListener("click", function (e) {
            });
          }

          var add = document.getElementById("add");
          if (add) {
            add.addEventListener("click", function (e) {
            });
          }
          var chat = document.getElementById("chat");
          if (chat) {
            chat.addEventListener("click", function (e) {
              window.location.href = "./chats";
            });
          }
        </script>
    </body>
    
    </html>