<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/others.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    </head>
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="topnav" id="myTopnav">
          <a href="./home" >Home</a>
          <a href="./friends" >Friends</a>
          <a href="./sports">Sports</a>
          <a href="./finance">Finance</a>
          <a href="./stem">STEM</a>
          <a href="./travel">Travel</a>
          <a href="./entertainment" >Entertainment</a>
          <a href="./others" class="active">Others</a>
          <a href="./settings">Settings</a>

          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>

        <!-- <div class="postrectangle">
            <p><h2> First Post </h2></p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id aliquam ante. Donec iaculis risus a erat posuere, non scelerisque est luctus. Morbi eros enim, laoreet id accumsan vitae, tincidunt vel ligula. Suspendisse molestie, turpis a gravida pharetra, nisl nibh pellentesque eros, sed mattis ante mauris ut erat. Praesent porta, nibh quis hendrerit dignissim, ipsum elit elementum lectus, sed molestie lectus dolor ut quam. Vestibulum at magna vitae metus commodo tincidunt. Cras pulvinar id dui a sagittis. Mauris hendrerit velit ut imperdiet volutpat. Nulla facilisi. Nulla tincidunt tincidunt elit, ut tincidunt ligula faucibus id. Donec porta justo sed efficitur convallis. Donec bibendum nisl eu ex placerat, in ullamcorper quam gravida. In hac habitasse platea dictumst. Nullam elit mauris, tincidunt non sapien nec, consequat tincidunt felis. Suspendisse sem nisi, imperdiet id enim ac, bibendum feugiat dolor.
            </p>
            <hr>
        </div>   -->
        
        <!-- <div class="postrectangle">
            <p><h2> Second Post </h2></p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id aliquam ante. Donec iaculis risus a erat posuere, non scelerisque est luctus. Morbi eros enim, laoreet id accumsan vitae, tincidunt vel ligula. Suspendisse molestie, turpis a gravida pharetra, nisl nibh pellentesque eros, sed mattis ante mauris ut erat. Praesent porta, nibh quis hendrerit dignissim, ipsum elit elementum lectus, sed molestie lectus dolor ut quam. Vestibulum at magna vitae metus commodo tincidunt. Cras pulvinar id dui a sagittis. Mauris hendrerit velit ut imperdiet volutpat. Nulla facilisi. Nulla tincidunt tincidunt elit, ut tincidunt ligula faucibus id. Donec porta justo sed efficitur convallis. Donec bibendum nisl eu ex placerat, in ullamcorper quam gravida. In hac habitasse platea dictumst. Nullam elit mauris, tincidunt non sapien nec, consequat tincidunt felis. Suspendisse sem nisi, imperdiet id enim ac, bibendum feugiat dolor.
            </p>
            <hr>
        </div>   

        <div class="postrectangle">
            <p><h2> Third Post </h2></p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id aliquam ante. Donec iaculis risus a erat posuere, non scelerisque est luctus. Morbi eros enim, laoreet id accumsan vitae, tincidunt vel ligula. Suspendisse molestie, turpis a gravida pharetra, nisl nibh pellentesque eros, sed mattis ante mauris ut erat. Praesent porta, nibh quis hendrerit dignissim, ipsum elit elementum lectus, sed molestie lectus dolor ut quam. Vestibulum at magna vitae metus commodo tincidunt. Cras pulvinar id dui a sagittis. Mauris hendrerit velit ut imperdiet volutpat. Nulla facilisi. Nulla tincidunt tincidunt elit, ut tincidunt ligula faucibus id. Donec porta justo sed efficitur convallis. Donec bibendum nisl eu ex placerat, in ullamcorper quam gravida. In hac habitasse platea dictumst. Nullam elit mauris, tincidunt non sapien nec, consequat tincidunt felis. Suspendisse sem nisi, imperdiet id enim ac, bibendum feugiat dolor.
            </p>
            <hr>
        </div>   

        <div class="postrectangle">
            <p><h2> Fourth Post </h2></p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id aliquam ante. Donec iaculis risus a erat posuere, non scelerisque est luctus. Morbi eros enim, laoreet id accumsan vitae, tincidunt vel ligula. Suspendisse molestie, turpis a gravida pharetra, nisl nibh pellentesque eros, sed mattis ante mauris ut erat. Praesent porta, nibh quis hendrerit dignissim, ipsum elit elementum lectus, sed molestie lectus dolor ut quam. Vestibulum at magna vitae metus commodo tincidunt. Cras pulvinar id dui a sagittis. Mauris hendrerit velit ut imperdiet volutpat. Nulla facilisi. Nulla tincidunt tincidunt elit, ut tincidunt ligula faucibus id. Donec porta justo sed efficitur convallis. Donec bibendum nisl eu ex placerat, in ullamcorper quam gravida. In hac habitasse platea dictumst. Nullam elit mauris, tincidunt non sapien nec, consequat tincidunt felis. Suspendisse sem nisi, imperdiet id enim ac, bibendum feugiat dolor.
            </p>
            <hr>
        </div>   

        <div class="postrectangle">
            <p><h2> Fifth Post </h2></p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id aliquam ante. Donec iaculis risus a erat posuere, non scelerisque est luctus. Morbi eros enim, laoreet id accumsan vitae, tincidunt vel ligula. Suspendisse molestie, turpis a gravida pharetra, nisl nibh pellentesque eros, sed mattis ante mauris ut erat. Praesent porta, nibh quis hendrerit dignissim, ipsum elit elementum lectus, sed molestie lectus dolor ut quam. Vestibulum at magna vitae metus commodo tincidunt. Cras pulvinar id dui a sagittis. Mauris hendrerit velit ut imperdiet volutpat. Nulla facilisi. Nulla tincidunt tincidunt elit, ut tincidunt ligula faucibus id. Donec porta justo sed efficitur convallis. Donec bibendum nisl eu ex placerat, in ullamcorper quam gravida. In hac habitasse platea dictumst. Nullam elit mauris, tincidunt non sapien nec, consequat tincidunt felis. Suspendisse sem nisi, imperdiet id enim ac, bibendum feugiat dolor.
            </p>
            <hr>
        </div>    -->
        {% for post in posts %}
          <div class="postrectangle">
            <h2>{{ post[3] }}</h2>
            <p>{{ post[4] }}</p>
          </div>
        {% endfor %}
        <div class="load">
        <button class="loadmore" role="button" id="loadmore">Load more</button>
        </div>
        <script>
            /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }

          var loadmore = document.getElementById("loadmore");
          if (loadmore) {
            loadmore.addEventListener("click", function (e) {
              window.location.href = "./index.html";
            });
          }

        </script>


    </body>

</html>